/*body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #ec4411;
}

a {
    color: #5e0ae4;
}
*/

.center {
    margin: center;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#grad {
    background-image: linear-gradient(red, yellow);
}